.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-div {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.todo-input {
    width: 300px;
    height: 40px;
    border: 1px solid lightblue;
}

.todo-button {
    background-color: lightblue;
    color: white;
    border: none;
    height: 45px;
    width: 50px;
    font-size: medium;
    margin-left: 10px;
}

.todo-title {
    color: lightblue;
    text-align: center;
}

.todo_item {
    width: 300px;
    height: 50px;
    border: 1px solid lightblue;
    align-items: center;
    color: lightblue;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.todo-delete {
    border: none;
    color: red;
    background-color: transparent;
    cursor: pointer;
}
